@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  color: #191A1A;
  background: #E6E9E6;
}

a{
  text-decoration: none;
  color: blue;
  border-bottom: dotted 3px;
}

h1{
  font-size: inherit;
  font-weight: inherit;
}

.dot {
  font-size: 3em;
  color: #1A1AF5;;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 20s infinite linear;
}

.center {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}